<div class="block-container">
    <div class="sujet">
        <div class="chapitreP">
            <h3 class="name"> Les proches:</h3>
        </div>
      <div class="proche">
        <div class="logo">
            <img src="assets/image/ACT-Proche-aidant.jpg" alt="">
        </div>
            <p class="paraP">Les proches ont etes ceux avec lesquels j'ai eu le plus de difficulte car j'avais perdu ma maman tres jeune et j'avais du mal a faire confiance car on m'avait mentis toute mon enfance sur le deces de ma maman et je pensais que ma tante etait ma maman hors que ce n'etais pas le cas</p>

            <!-- <a href="">Suite</a> -->

          <!-- <div class="cachee">

          <p>J'ai perdu enormement d'amis ceux qui sont partit trop tot car il s'etais tombe dans une spiral qui ne pouvais pas sortir le monde sordite de la drogue un ami tomba pour je ne jamais plus ce releve il etait accompagner d'un enfoire qui ne l'aida pas pour avoir une chance de survivre.</p>
          <p>Puis une jeune fille extraordinaire qui n'avait que 19 ans qui etait la plus douce et la plus gentil personne que je rencontra elle souvrais d'une tumeur qui etait place dans son cerveau.Malgre cela je suis sortit avec je voulais la soutenir et vivre avec elle ce moment difficle la tout premeire fois ou j'etais vraiment concerne part quelque chose qui me tenais a coeur.Quand j'etais avec elle dans les urgence elle ne voulait pas que je quite les lieux pour rester avec elle le plus longtemps possible</p>
          <p>Mais un cretin un individut stupide qui la connaissais qui savait qu'elle etais malade ne eu qu'une seule brillante idée de l'agresse elle a reçus malheureusement un coup fatal dans sa tumeur un ematome arriva a l'amplacment de la tumeur elle partit rejoindre les cieux.</p>
          <p>Part respect envers elle, je n'ai jamais pu me remettre avec une autre fille part apres.</p>
          <p>L'erreur que j'ai commise etant de completement me separe de l'amour ce qui fait que maintenant une peur s'installe chaque fois que quelqu'un a envie de s'insteresse a moi ou qui veut etre proche.</p>

        </div> -->

      </div>

      </div>


</div>
