.block-container{
  width: 80%;
  margin-left: auto;
  margin-right:auto;
  margin-bottom: 25px;
}

.chapitreP{
  width: 580px;
  text-align: center;
  margin-left: auto;
  background-color: #000033;
  color: white;
  margin-bottom: 20px;
  border-radius: 20px;
}

.paraP{
  width: 580px;
  margin-left: auto;
}


.logo img{
  width: 573px;
  height: 285px;
}


.proche{
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.sujet h2{
  text-align: center;
}
