  <div class="block-container">
      <div class="sujet">
          <div class="chapitreJ">
              <h3 class="name">Probleme juridique:</h3>
          </div>
      <div class="juridique">
              <p class="paraJ">Les probleme juridiques la plus grosse partie de ma vie ou j'ai passe enorment de temps entre les tribunaux et les centre fermer pour jeunes.
                  Quand on est gamin et qu'on vous juge sur votre liens de sang bah forcement on passe tous part la casse conneries!!!</p>
      <div class="logo">
              <img src="assets/image/justice_icon.png" alt="">
      </div>

            <!-- <div class="cachee">

            <p>Et des conneries j'en fais enorment et je l'ai regrette tous faire du mal a autruis pour ce venger ou pour ce soulager du mal qu'on au font du coeur sa ne resoudra pas vos probleme.</p>
            <p>J'avais une juge super qui malgre mais connerieses a repitions ne ma jamais laisse tomber ma toujours soutenu malgre que je continuais a faire tout et n'importe quoi.</p>
            <p>Sa na pas toujours ete le cas la procureur du roi voulais me disistue en m'envoyant vers la prison car mes conneries etait toujours plus intense et plus lourde a chaque reprise.</p>
            <p>Ne jamais abandone l'espoir de sortie du gouvre juridique ce n'est pas facile avoir une determiantion de fer et garde des personnes prete a reste a vos cotés qui resteron et vous soutiendrons</p>
            <p>Ma grande soeur a ete une de c'est personne elle est restée avec moi pour me soutenir mais evidement j'ai pas pu m'enpeche de faire a nouveau l'idio et de refaire des conneries a 18 ans et meme la juge qui me soutenais toute mon adolescene ne savait plus quoi faire.</p>
            <p>Apres avoir realise que beaucoup de personne tenais a moi malgre que j'avais fait d'enorme conneries j'ai  pris la descition que je deviendrais meilleur que c'est enfoire qui me server de pere.</p>
            <p>J'ai pris la descition d'etre aussi bon que ma mere de reprendre sa gentilese et d'aide ceux qui en avait le besoin de prendre la route de la bonne voit</p> -->


            <!-- </div> -->

      </div>

      </div>
</div>




