.block-container{
  width: 80%;
  margin-left: auto;
  margin-right:auto;
  margin-bottom: 25px;
}


.juridique{
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.paraJ{
  width: 600px;
  margin-right: auto;
}

.logo img{
  height: 285px;
  width: 573px;
}

.paraJ{
  width: 600px;
}

.nameJ{
  text-align: center;
  background-color:#000033;
  color: white;
  height: auto;
  width: 280px;
  margin-right: auto;
  border-radius: 20px;
}

.chapitreJ{
  margin-right: auto;
  width: 580px;
  text-align: center;
  background-color: #000033;
  color: white;
  margin-bottom: 20px;
  border-radius: 20px;
}
