 <div class="block-container">
      <div class="sujet">
          <div class="chapitreD">
            <h3 class="name">La discrimination:</h3>
          </div>
          <div class="descrimination">
            <div class="logo">
              <img src="assets/image/discrimination.png" alt="">
            </div>
            <p class="paraD">Ou j'ai ete le plus discrimine c'etais dans ma famille ou ma tante et mon oncle, me fesait souvent référence a mon pére et que je serais comme lui car j'avais le meme sang.
              Ma maman etant décédée j'ai ete eleve part ma tante qui etait la soeur ainée de ma mere, comme mon pere etait une vrai crapule et qu'il a fait souvrir un peux tout le mond du coup ma tante ma comparee a lui.</p>
              <!-- <div class="cachee">
              <p>Mais quand tu dis a un gamin qu'il deviendra une crapule vous attendez pas a voir qu'il finise bien!!!</p>
              <p>Heureusement quand j'ai commencer a fuger de la maison et qu'on ma envoier vers des centres pour jeune adolescent en difficulte, les educateurs mon rebooster en me disant que je peux avoir le meme sang que lui mais pas forcement finir comme lui que je pouvais choisir une nouvelle route un autre destin</p>
            </div> -->
          </div>
        </div>
  </div>
