<h2 class="my">Michaël Bavier</h2>

<div class="presentation">
  <h1>Qui suis-je:</h1>
  <p class="paragraphe">Je me présente je m'appel Michaël je vis en Belgique, je vais vous parler de mon histoire et de mon experience afin d'aider ceux qui vivent ou qui on vécu des histoires peux commune.
    Une histoire famillial catastrophique, des ennuis avec la justice, la perte de plusieur proche. Et une remontée qui etait plus que delicate
    J'aimerais partage avec vous l'experience et le vecu et d'echanger avec ceux qui sont en diffculte qu'il y a toujours moyen de sortir du gouffre au quel on est.</p>
  </div>



