.my{
  text-align: center;
  margin-bottom: 20px;
}

.presentation{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
}

.presentation h1{
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  line-height: -moz-block-height;
}

.paragraphe{
  height: 200px;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

h1{
  height: 35px;
  width: 500px;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color:#000033;
  color: white;

  font-size: xx-large;
}

.presentation p{
  text-align: center;
}











































